<div class="row">
  <div class="col">
    <h1>Messages</h1>



    <ul id="messages">
      <%= render @messages %>
    </ul>



    <br>

    <%= render 'form' %>
  </div>
  <div class="col-12 col-md-auto">



    <h3>현재 참여자</h3>

    <% @users.each do |user| %>
        <%= user.email %><br/>
    <% end %>


  </div>
  <div class="col col-lg-2" style="background-color: red">
    3 of 3
  </div>
</div>



